<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/style.css">
    <title>Informaci&oacute;n | Pastelaxia</title>
</head>

<body>
    <header>
        <a href="../../index.html">Regresar</a>
        <h1 class="title_menu">Informaci&oacute;n</h1>
    </header>
    <section>
        <h2 class="subtitle_menu">Cantidad de sabores</h2>
        <p class="text">Restan: 4</p>
    </section>
    <section>
        <h2 class="subtitle_menu">Cantidad de adornos</h2>
        <p class="text">Restan: 2</p>
    </section>
    <section>
        <h2 class="subtitle_menu">Lista de pedidos</h2>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Tel&eacute;fono</th>
                <th>Correo electr&oacute;nico</th>
                <th>Descripci&oacute;n pastel</th>
                <th>Sabor</th>
                <th>Adorno</th>
            </tr>
            <tr>
                <td>Alfredo Garza</td>
                <td>6648754245</td>
                <td>afg@gmail.com</td>
                <td>Descripci&oacute;n .....</td>
                <td>Pastel de mora</td>
                <td>Spiderman</td>
            </tr>
            <tr>
                <td>Carlos Perez</td>
                <td>3347896542</td>
                <td>cperg@gmail.com</td>
                <td>Descripci&oacute;n .....</td>
                <td>Pastel de nuez</td>
                <td>Estrellas</td>
            </tr>
            <tr>
                <td>Elena Ramos</td>
                <td>7452454786</td>
                <td>eram@gmail.com</td>
                <td>Descripci&oacute;n .....</td>
                <td>Pastel de chocochips</td>
                <td>Cohete</td>
            </tr>
        </table>
    </section>
</body>

</html>